.field {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normal {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.blueLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0042ca; FONT-FAMILY: Arial
}
.blueLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: Arial
}
td {
	font-size: 12px; font-family: arial;
}
BODY {
	
}
P {
	
}
LEGEND
{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-image:url(bottom_bg.gif);
background-repeat:repeat-x;
 color:#2C4982; 
/*color:#005680;*/
border-color:#006633;
font-weight:bold;
}

INPUT {
	FONT-SIZE: 9pt; COLOR:#000000; BACKGROUND-COLOR:#FEFDFA; border-width:1px; border-color:#333333;
background-image:url(bottom_bg.gif);
background-position:center;
background-repeat:repeat-x;
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR:#000000; BACKGROUND-COLOR:#F3F3F3; border-width:1px;border-color:#333333;FONT-WEIGHT:bold;
}
SELECT {
	FONT-SIZE: 7pt; COLOR:#004080; BACKGROUND-COLOR:#FFFFFF; TEXT-ALIGN: left;border-width:1px;border-color:#000066;
}
HR{
color:#000000;
height:1px;
}
IMG{
	border:#000000;
	border-width:1px;
}
.main {
	FONT-SIZE: 12px; COLOR: #fff; FONT-FAMILY: Arial
}

.headingseconndary {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; COLOR: #ffd700; FONT-FAMILY: verdana
}
.minor {
	FONT-SIZE: 11px; COLOR: #dcdcdc; FONT-FAMILY: arial
}
.synapse {
	FONT-SIZE: 11px; COLOR: #f5f5f5; FONT-FAMILY: arial
}
A {
	COLOR:#333333; TEXT-DECORATION: none;  border-width:0;FONT-WEIGHT:bold;
}
A:hover {
	COLOR:#AE3800;

}
A.lmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc9933; FONT-FAMILY: Arial, Verdana, Helvetica, 
sans-serif; TEXT-DECORATION: none
}
A.smallLink {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
	font-weight:normal;
}
A.smallLink:hover {
	FONT-SIZE: 8pt; COLOR:#AE3800; FONT-FAMILY:Verdana, Arial, Helvetica, sans-serif;TEXT-DECORATION: none;
	font-weight:normal;
}
.noneAnchor{
	COLOR:#AE3800; TEXT-DECORATION: none; font-weight:bold; border-width:0;
}
.paragraph2 {
	FONT-SIZE: 11px; COLOR: #202020; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.listTableStyle{
background-color:#999999;
}
.paragraph {
FONT-SIZE: 9pt; COLOR:#000000; BACKGROUND-COLOR:#FEFDFA; border-width:1px; border-color:#333333;
}
.Summary
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#990000;
	border:#000000;
}
.bodyStyle{
background-image:url(background.jpg); 
background-position:center;
background-repeat:repeat;
background-position:top;
/*background-color:#00376F;*/
/* background-color:#6589AA; */
}

.leftMenuBg{
background-color:#FFFFFF;
}
.vr{
background-image:url(bar.gif);
background-repeat:repeat-y;
}
.topBarColor{
background-image:url(bottom_bg.gif);
background-position:center;
background-repeat:repeat-x;
}
.topActions{
background-image:url(top_03_2.gif);
background-position:center;
background-repeat:repeat-x;
border-width:1px; border-color:#333333;
}
.middleTableBg{

background-color:#F3F3F3;
}
.leftMenuBg{
background-image:url(bg_left.gif);
background-position:center;
background-repeat:repeat-y;
background-position:top;
}
.topColor{
background-color:#E2E2E2;
}
.tableHeaderColor{
 background-image:url(bottom_bg.gif); 
background-position:center;
background-repeat:repeat;
background-color:#D3D3D3;
color:#000000;
font-family:Courier New, Courier, mono;
font-weight:bold;
font-size:10pt;
}
.bigrheadings{
font-family:tahoma;
font-size:14px;
font-weight:bold;
color:#506489;


}
.listingTable{
border-width:thin;
border-style:solid;
border-color:#C0C0C0;
background-color:#FFFFFF;
 FONT-SIZE: 9px; COLOR:#000000; LINE-HEIGHT: 16px; 
 FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;

}
.listingTable1{
border-width:thin;
border-style:solid;
border-color:#C0C0C0;
background:#E7F1FA;
 FONT-SIZE: 9px; COLOR:#000000; LINE-HEIGHT: 16px; 
 FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;

}
.sectionHeading{
	border-width:1px; border-color:#333333;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	font-weight:bold;
}
.label{
FONT-SIZE: 11px; COLOR:#000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;
vertical-align:middle;
}
.footerlabel{
FONT-SIZE: 11px; COLOR:#006633; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;
vertical-align:middle;
}
.successAlert{
font-family:Courier New, Courier, mono;
font-size:12px;
color:#005CB9;
font-weight:normal;
}
.searchResult{
border-top:solid;
border-top:#000000;
border-top-width:1;
border-bottom-color:#FFFFFF;
border-left-color:#FFFFFF;
border-right-color:#FFFFFF;
}
.extraLabels{
COLOR:#333333; 
TEXT-DECORATION: none; 
font-weight:bold; 
border-width:0;
}

#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#overlay {
	background-image: url(overlay.png);
}
#lightboxCaption {
	color: #333;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
* html #overlay {
	background-color: #000;
	background-image: url(blank.gif);
	filter: Alpha(opacity=50);
}
.ValidationSummary{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#CC0000;
	/* background-color:#E2E4BC; */
	text-decoration: none;
}
.tblbackgnd { 
    background:#E7F1FA;
	 
}
